#main .apply {
    background-color: #16703d;
    color:white !important;
}

.faq-question {
    text-align: center;
    color: #16703d;
    font-weight: bold;
}

.faq-answer {
    text-align: justify;
}
